/.cache/
/depot/.ref
/depot/VERSIONS.txt
/depot/com.valvesoftware.SteamRuntime.*-buildid.txt
/depot/com.valvesoftware.SteamRuntime.*-debug.tar.gz
/depot/com.valvesoftware.SteamRuntime.*-runtime.tar.gz
/depot/com.valvesoftware.SteamRuntime.*-sysroot.Dockerfile
/depot/com.valvesoftware.SteamRuntime.*-sysroot.tar.gz
/depot/pressure-vessel/
/depot/run
/depot/run-in-scout
/depot/run-in-soldier
/depot/scout
/depot/scout_*-0.20*.*/
/depot/scout_0.20*.*/
/depot/scout_sdk/
/depot/scout_sysroot/
/depot/soldier/
/depot/soldier_*-0.20*.*/
/depot/soldier_0.20*.*/
/depot/soldier_sdk/
/depot/soldier_sysroot/
/depot/steam-runtime/
/depot/toolmanifest.vdf
/depot/toolmanifest.v2.vdf
/local/
/pressure-vessel-*-bin+src.tar.gz
/pressure-vessel-*-bin.tar.gz
/pressure-vessel-bin+src.tar.gz
/pressure-vessel-bin.tar.gz
/sources/scout/steamrt/
/sources/soldier/steamrt/
/test-logs/
__pycache__/
