/.cache/
/depot/
/local/
/pressure-vessel-*-bin+src.tar.gz
/pressure-vessel-*-bin.tar.gz
/pressure-vessel-bin+src.tar.gz
/pressure-vessel-bin.tar.gz
/sources/scout/steamrt/
/sources/soldier/steamrt/
/test-logs/
__pycache__/
