Tests: smoke
Restrictions: allow-stderr
Depends:
 bubblewrap,
 build-essential,
 libcapsule-dev,
 libcapsule-dev-bin,
 libipc-run-perl,
 libjpeg62 (>= 6b1) | libjpeg62-turbo,
 perl,
 pkg-config,
 zlib1g,

Tests: gnome-desktop-testing
Restrictions: allow-stderr
Depends:
 bubblewrap,
 gnome-desktop-testing,
 libcapsule-dev,
 libcapsule-dev-bin,
 libcapsule-tests,
 libipc-run-perl,
 libjpeg62 (>= 6b1) | libjpeg62-turbo,
 perl,
 pkg-config,
 zlib1g,
