Tests: build
Restrictions: allow-stderr
Depends: libsteam-runtime-tools-0-dev

Tests: run
Restrictions: allow-stderr
Depends: libsteam-runtime-tools-0-tests

Tests: gnome-desktop-testing
Restrictions: allow-stderr
Depends: gnome-desktop-testing, libsteam-runtime-tools-0-tests
