/*.debhelper
/*.log
/*.substvars
/autoreconf*
/files
/libGL-proxy/
/libGL-proxy-build/
/libcapsule-dev/
/libcapsule-dev-bin
/libcapsule-gl-shims/
/libcapsule-tools/
/libcapsule-libgl1-shims/
/libcapsule-tests/
/libcapsule0/
/*-stamp
/tmp/
