/*-stamp
/*.debhelper
/*.log
/*.substvars
/files
/libsteam-runtime-tools-0-0/
/libsteam-runtime-tools-0-dev/
/libsteam-runtime-tools-0-doc/
/libsteam-runtime-tools-0-helpers/
/libsteam-runtime-tools-0-relocatable-libs/
/libsteam-runtime-tools-0-tests/
/locales/
/steam-runtime-tools-bin/
/tmp/
